data/
runs/
venv/
.venv/
blobs/
.git/
.gitattributes
__pycache__/
*.pyc
dataset.zip
ml_scripts/
yolo11n.pt
yolov8m.pt
yolov8n.pt
*.ipynb
*.zip
runs_citypulse/yolov8n_pothole_vbest/
runs_citypulse/yolov8n_pothole_vbest2/BoxF1_curve.png
runs_citypulse/yolov8n_pothole_vbest2/BoxPR_curve.png
runs_citypulse/yolov8n_pothole_vbest2/BoxP_curve.png
runs_citypulse/yolov8n_pothole_vbest2/BoxR_curve.png
runs_citypulse/yolov8n_pothole_vbest2/confusion_matrix.png
runs_citypulse/yolov8n_pothole_vbest2/confusion_matrix_normalized.png
runs_citypulse/yolov8n_pothole_vbest2/labels.jpg
runs_citypulse/yolov8n_pothole_vbest2/results.csv
runs_citypulse/yolov8n_pothole_vbest2/results.png
runs_citypulse/yolov8n_pothole_vbest2/train_batch*.jpg
runs_citypulse/yolov8n_pothole_vbest2/val_batch*.jpg
runs_citypulse/yolov8n_pothole_vbest2/weights/last.pt
runs_citypulse/yolov8n_pothole_vbest2/weights/best.onnx
