--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart
google-generativeai
ultralytics==8.3.0
opencv-python-headless==4.10.0.84
numpy
onnxruntime==1.18.1
torch==2.3.1
sqlalchemy
geoalchemy2
psycopg2-binary
pydantic-settings
